button {
    background: #F07D00;
    border: 2px solid orangered;
    border-radius: 20px;
    margin-bottom: 10px;
    height: 40px;
    cursor: pointer;
    font-size: 24px;
    color: white;
    padding: 0 20px;
}

button:hover {
    text-shadow: darkgray;
    box-shadow: 4px 4px 4px #333;
}

.dropbtn {
    background-color: #F07D00;
    border: 2px solid orangered;
    border-radius: 20px;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}